.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
    outline: none;
}

.input_submit {
    position: absolute;
    width: 50px;
    height: 50px; 
    margin: 12px;
    right: 0;
    border-radius: 50px;
    background-color: #2f74c0;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover {
    background-color: #388ae2;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.todos {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.todos_single {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #d9d137;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.todos_single--text{
    flex:1;
    padding: 5px;
    overflow:hidden;
    border: none;
    font-size: 20px;
}

.todos_single--text:focus{
    outline: none;
}

.todos_single.done {
  background-color: #f80000;
  transition: all 0.3s ease;
}

.todos_single.done .todos_single--text {
  color: #fff; 
}


.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width:1200px){
    .todos_single{
        width: 40%;
    }
}

@media (max-width:800px){
    .input{
        width: 95%;
    }
    .todos{
        width: 95%;
    }
    .todos_single{
        width: 90%;
    }
}